header{
	background-color: #e468ff;
	padding: 15px;
	color: white;
	text-align: center;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline;
	margin-right: 15px;
}

nav ul li a{
	color: white;
	text-decoration: none;

}

section{
	padding: 15px;
	margin-bottom: 15px;
	background-color: #fff;
}

footer{
	background-color: #333;
	color: white;
	text-align: center;
	padding: 15px;

}

